In [1]:
# import block
import json
from time import sleep
import requests
import lxml
from bs4 import BeautifulSoup
from selenium import webdriver
import sqlite3 as lite
import pandas as pd
from pymongo import MongoClient

# Vacation Homework

## Q1. Python Basic, Web Scraping, RDBMS, SQL

### Q1-1

`Ancient Egyptian multiplication`(one of two multiplication methods used by scribes, was a systematic method for multiplying two numbers that does not require the multiplication table, only the ability to multiply and divide by 2, and to add.) 을 Python 으로 구현하세요.

example output)

```
enter two numbers: 24 15
  24      15 struck
  12      30 struck
   6      60 struck
   3     120 keep
   1     240 keep
The result is 360
```

In [2]:
# Q1-1 (190127)

# input 2-numbers with space, assign each num to a and b
while True:
    user_input = input("Type two numbers with space:")
    # 스페이스로 구분되는 값이 2개가 아니면 다시 입력하게 한다.
    if len(user_input.split())!=2:
        print("input >>2<< integer numbers with space!")
        continue
    # 2개의 값이 입력되었다면 각 값이 integer인지 확인하고
    # integer가 아닌 값이 입력되어 있다면 오류메시지를 출력하고 다시 입력하게 한다.
    # 2개의 값이 모두 integer라면 a, b 변수에 각각 할당한다.
    try:
        [a, b] = [int(x) for x in user_input.split()]
        break
    except:
        print("Input 2 >>integer<< numbers with space!")

# execute Ancient Egyptian multiplication
i = 0
b_origin = b
valid_exponential_order = []
while True:
    if a%2 == 1:
        valid_exponential_order.append(i)
        status = "keep"
    else:
        status = "struck"
    print("{a}{tab}{b}{tab}{status}".format(a=a, tab='\t', b=b, status=status))
    if a == 1:
        break
    a //= 2
    b *= 2
    i += 1

print("The result is {}.".format(b_origin*sum([2**x for x in valid_exponential_order])))

Type two numbers with space: 24 15

24	15	struck
12	30	struck
6	60	struck
3	120	keep
1	240	keep
The result is 360.

### Q1-2

Twitter의 `#asiancup` 에 대한 트윗 검색결과(https://twitter.com/search?q=%23asiancup)를 sqlite 를 활용한 database에 적재하세요.
(10회 스크롤 했을 때의 트윗 본문 전체(이미지 제외))

`Requirements: selenium, sqlite3`

- **Caution** : https://twitter.com/robots.txt 의 지침을 따르세요.

```
# Every bot that might possibly read and respect this file.
User-agent: *
Allow: /*?lang=
Allow: /hashtag/*?src=
Allow: /search?q=%23
Disallow: /search/realtime
Disallow: /search/users
Disallow: /search/*/grid

Disallow: /*?
Disallow: /*/followers
Disallow: /*/following

Disallow: /account/not_my_account
Disallow: /account/deactivated
Disallow: /settings/deactivated

Disallow: /oauth
Disallow: /1/oauth

Disallow: /i/streams
Disallow: /i/hello

# Wait 1 second between successive requests. See ONBOARD-2698 for details.
Crawl-delay: 1
```

In [3]:
#Q1-2
# launch ch_driver
ch_driver = webdriver.Chrome("../../../chromedriver.exe")
ch_driver.implicitly_wait(5) 

# set url and move to webpage
url = "https://twitter.com/search?q=%23asiancup"
ch_driver.get(url)

In [4]:
# select html element
elm = ch_driver.find_element_by_tag_name("html")

# go to end of page for 10 times. with 1.1 second sleep
for _ in range(10):
    elm.send_keys(webdriver.common.keys.Keys.END)
    sleep(2)

In [5]:
# get tweet articles : ol id="stream-items-id" > li id="stream-item-tweet-[0-9]{19}"
ol_elem = ch_driver.find_element_by_id("stream-items-id")
li_list = ol_elem.find_elements_by_xpath("//*[contains(@id, 'stream-item-tweet')]")
len(li_list)

197

In [8]:
# add tuple of (article_id, date, article_body) to result
result = []
for li in li_list:
#     result.append((li.get_attribute('id'), li.find_element_by_class_name('time').text, li.find_element_by_tag_name("p").text))
    result.append((li.get_attribute('id'), li.find_element_by_xpath("//div/div[2]/div[1]/small/a").get_attribute("title"), li.find_element_by_tag_name("p").text))
result[:5]

[('stream-item-tweet-1088428234570633216',
  '오전 5:28 - 2019년 1월 24일',
  'Yes! 베트남! #노골 #VAR #AsianCup #vietnamJapan'),
 ('stream-item-tweet-1088819559971385344',
  '오전 5:28 - 2019년 1월 24일',
  '아시안컵 탈락이다..................\n#AsianCup'),
 ('stream-item-tweet-1088849413714276352',
  '오전 5:28 - 2019년 1월 24일',
  'ㅈ..진정해요..!\n#김영권 AsianCup2019 #asiancup '),
 ('stream-item-tweet-1088225691332534272',
  '오전 5:28 - 2019년 1월 24일',
  '1일 베트남인. 쳐부수자 일제 원숭이!!!\nVietnam vo dich! \n#AsianCup #Vietnam'),
 ('stream-item-tweet-1088850986410463233',
  '오전 5:28 - 2019년 1월 24일',
  '힘들 땐 긍정적으로 생각하기\n스퍼스 팬으로서만 바라보자....\n(그래도 슬픈건 안비밀)\n#tottenham #spurs #coys #asiancup pic.twitter.com/qBQB515lUC')]

In [9]:
# insert data into db (twit_articles.db)
con = lite.connect("twit_articles.db")

query_create_table = """
CREATE TABLE IF NOT EXISTS
twitter_asiancup 
("ArticleID" TEXT PRIMARY KEY ON CONFLICT REPLACE NOT NULL,
"Datetime" TEXT,
"ArticleBody" TEXT);
"""

query_for_insert_data = "INSERT INTO twitter_asiancup VALUES(?,?,?);"

with con:
    cur = con.cursor()
    cur.execute(query_create_table)
    for row in result:
        cur.execute(query_for_insert_data,row)
pd.read_sql("SELECT * FROM twitter_asiancup;", con).head()

,ArticleID,Datetime,ArticleBody
0,stream-item-tweet-1088428234570633216,오전 5:28 - 2019년 1월 24일,Yes! 베트남! #노골 #VAR #AsianCup #vietnamJapan
1,stream-item-tweet-1088819559971385344,오전 5:28 - 2019년 1월 24일,아시안컵 탈락이다..................\n#AsianCup
2,stream-item-tweet-1088849413714276352,오전 5:28 - 2019년 1월 24일,ㅈ..진정해요..!\n#김영권 AsianCup2019 #asiancup
3,stream-item-tweet-1088225691332534272,오전 5:28 - 2019년 1월 24일,1일 베트남인. 쳐부수자 일제 원숭이!!!\nVietnam vo dich! \n#A...
4,stream-item-tweet-1088850986410463233,오전 5:28 - 2019년 1월 24일,힘들 땐 긍정적으로 생각하기\n스퍼스 팬으로서만 바라보자....\n(그래도 슬픈건 ...

## Q2. SQL, RDBMS

`products.db` 에 대하여 다음 문제를 해결하세요.

### Q2-1

`products.db`에 존재하는 모든 `table`과 `column`을 조회하세요.

In [10]:
#Q2-1

# make connection
con = lite.connect("./products.db")

# get schema from db by pandas
query = "SELECT * FROM sqlite_master;"
schema_series = pd.read_sql(query, con).sql

# check schema
for i, row in schema_series.iteritems():
    print(row)

CREATE TABLE Categories(
  "CategoryID" TEXT,
  "CategoryName" TEXT,
  "Description" TEXT
)
CREATE TABLE Customers(
  "CustomerID" TEXT,
  "CustomerName" TEXT,
  "ContactName" TEXT,
  "Address" TEXT,
  "City" TEXT,
  "PostalCode" TEXT,
  "Country" TEXT
)
CREATE TABLE Employees(
  "EmployeeID" TEXT,
  "LastName" TEXT,
  "FirstName" TEXT,
  "BirthDate" TEXT,
  "Photo" TEXT,
  "Notes" TEXT
)
CREATE TABLE Shippers(
  "ShipperID" TEXT,
  "ShipperName" TEXT,
  "Phone" TEXT
)
CREATE TABLE Suppliers(
  "SupplierID" TEXT,
  "SupplierName" TEXT,
  "ContactName" TEXT,
  "Address" TEXT,
  "City" TEXT,
  "PostalCode" TEXT,
  "Country" TEXT,
  "Phone" TEXT
)
CREATE TABLE Orders(
OrderID integer,
CustomerID integer,
EmployeeID integer,
OrderDate date,
ShipperID integer)
CREATE TABLE OrderDetails(
OrderDetailID integer,
OrderID integer,
ProductID integer,
Quantity integer)
CREATE TABLE Products(
ProductID integer,
ProductName text,
SupplierID integer,
CategoryID integer,
Unit text,
Price integer
)

In [11]:
# select remove target keywords by type
table_remove_keywords = ["CREATE TABLE ", "("]
column_remove_keywords = ["\n", " ", "\"", ",", "TEXT", "integer", "date", "text", ")"]

# split schema string with "\n" and append to schema_list
schema_list = []
for i, row in schema_series.iteritems():
    schema = row.split("\n")
    schema_list.append(schema)

# cleansing data and add to dict
result = {}
for schema in schema_list:
    # assign components to variables
    tbl_name, columns = schema[0], schema[1:]
    # cleansing table_name
    for trk in table_remove_keywords:
        tbl_name = tbl_name.replace(trk, "")
    # cleansing column name
    for crk in column_remove_keywords:
        columns = [column.replace(crk, "") for column in columns if column.replace(crk, "") != '']
    # add to dict
    result[tbl_name] = columns

# print result
for k, v in result.items():
    print(k, v)

Categories ['CategoryID', 'CategoryName', 'Description']
Customers ['CustomerID', 'CustomerName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country']
Employees ['EmployeeID', 'LastName', 'FirstName', 'BirthDate', 'Photo', 'Notes']
Shippers ['ShipperID', 'ShipperName', 'Phone']
Suppliers ['SupplierID', 'SupplierName', 'ContactName', 'Address', 'City', 'PostalCode', 'Country', 'Phone']
Orders ['OrderID', 'CustomerID', 'EmployeeID', 'OrderDate', 'ShipperID']
OrderDetails ['OrderDetailID', 'OrderID', 'ProductID', 'Quantity']
Products ['ProductID', 'ProductName', 'SupplierID', 'CategoryID', 'Unit', 'Price']

### Q2-2

`Customer`의 `Country`가 "Germany" 이거나 `City`가 "London" 인 모든 주문의 주문양(`Quantity`)의 합을 조회하세요.

In [13]:
#Q2-2
query = """
SELECT 
    SUM(Quantity) AS TotalQuantity
FROM
    OrderDetails
WHERE 
    OrderID IN
        (SELECT OrderID FROM Orders
        WHERE
            CustomerID IN
                (SELECT CustomerID FROM Customers
                 WHERE Country="Germany" OR City="London"));
"""
pd.read_sql(query, con).iloc[0,0]

2633

### Q2-3

월별 총 주문 횟수와 총 주문 갯수, 평균 주문 금액(소수점 2째 자리에서 반올림)을 조회하세요.
(총 주문 횟수를 기준으로 내림차순 정렬)

In [14]:
#Q2-3
query = """
SELECT 
    SUBSTR(B.OrderDate, 1, 7) AS "MONTH",
    COUNT(A.OrderID) AS "COUNT",
    SUM(A.Quantity) AS "SUM",
    ROUND(SUM(A.Quantity*C.Price) / COUNT(A.OrderID), 2) AS "AVERAGE" 
FROM
    OrderDetails AS A
JOIN
    Orders AS B
    ON A.OrderID = B.OrderID
JOIN
    Products AS C
    ON A.ProductID = C.ProductID
GROUP BY "MONTH"
ORDER BY "COUNT" DESC;
"""
pd.read_sql(query, con)

     MONTH  COUNT   SUM  AVERAGE
0  1997-01     85  2401   981.18
1  1996-12     81  2200   786.68
2  1996-10     73  1738   705.87
3  1996-08     69  1322   482.40
4  1996-11     66  1735   941.88
5  1996-07     59  1462   640.34
6  1996-09     57  1124   606.41
7  1997-02     28   761   713.53

## Q3. noSQL, json, Web Scraping

### Q3-1

다음 금융 시가총액 페이지(http://finance.daum.net/domestic/market_cap) 에서 KOSPI200 상위 30개 종목에 대하여,
뉴스공시 탭의 종목뉴스 최신 100개를 가져와 mLab의 새로운 Collection을 생성하여 저장한 뒤, 모든 뉴스의 `title`, `keywords`, `createdAt` 값을 표현하세요.

`Requirements: requests, json, pymongo`

hint1: 
```python
headers = {"Host":"finance.daum.net"}
requests.get(url, headers=headers)
```

hint2: `some_collection.find(query, {'_id':0,'title':1,})`

<img src="./daum-finance-news.png" width="300">

In [15]:
# set api & headers to get top30 rate stock code
top30_api = "http://finance.daum.net/api/trend/market_capitalization?page=1&perPage=30&fieldName=marketCap&order=desc&market=KOSPI&pagination=false"
headers = {
    "Host": "finance.daum.net",
    "Connection": "keep-alive",
    "Accept": "application/json, text/javascript, */*; q=0.01",
    "X-Requested-With": "XMLHttpRequest",
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
    "Referer": "http://finance.daum.net/domestic/market_cap",
    "Accept-Encoding": "gzip, deflate",
    "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
    "Cookie": "webid=19dbd20eb89647b3a1257992d5e9eede; _ga=GA1.2.936431969.1548166807; KAKAO_STOCK_RECENT=[%22A005930%22%2C%22A015760%22]; _gid=GA1.2.724945518.1548599466; _dfs=MTdhM1BJZUZ0eWhEM2w0UDB0SnltcDhjNjBlU29RNlpQRCtySEhyY3NMOWdkQzhYMEtyQUo5ZGFhekdYUXNZSHlTaktxa2dNY0h5Zkkvc0NlQUVmZVE9PS0tanQydENrSHZhQWg1bWVPWVBlSkhwQT09--b150964a9dc868801cc2892b416cd06714bf1837; TIARA=O6vQ_YMZjSUdhnTYBukcX-5ItQjwQphtLkzJJpSh3v1yaq4u8HuNxRZrV5SJIhO_nD73VF5YnF8O-dbPmJDkwJNao9TNDRuF; webid_sync=1548599465561; _gat_gtag_UA_128578811_1=1",
    "If-None-Match": 'W/"ecfd9329d342997fde8465e23921c93a"'
            }

In [16]:
# get data from api and add to top30_code_dict values (code : {name, rank})
data = requests.get(top30_api, headers=headers).json()['data']
top30_code_dict = {}
for row in data:
    top30_code_dict[row['symbolCode']] = {"name":row['name'], "rank":row['rank']}
top30_code_dict

{'A005930': {'name': '삼성전자', 'rank': 1},
 'A000660': {'name': 'SK하이닉스', 'rank': 2},
 'A005935': {'name': '삼성전자우', 'rank': 3},
 'A005380': {'name': '현대차', 'rank': 4},
 'A068270': {'name': '셀트리온', 'rank': 5},
 'A051910': {'name': 'LG화학', 'rank': 6},
 'A207940': {'name': '삼성바이오로직스', 'rank': 7},
 'A005490': {'name': 'POSCO', 'rank': 8},
 'A028260': {'name': '삼성물산', 'rank': 9},
 'A035420': {'name': 'NAVER', 'rank': 10},
 'A012330': {'name': '현대모비스', 'rank': 11},
 'A015760': {'name': '한국전력', 'rank': 12},
 'A017670': {'name': 'SK텔레콤', 'rank': 13},
 'A055550': {'name': '신한지주', 'rank': 14},
 'A051900': {'name': 'LG생활건강', 'rank': 15},
 'A105560': {'name': 'KB금융', 'rank': 16},
 'A034730': {'name': 'SK', 'rank': 17},
 'A032830': {'name': '삼성생명', 'rank': 18},
 'A096770': {'name': 'SK이노베이션', 'rank': 19},
 'A018260': {'name': '삼성에스디에스', 'rank': 20},
 'A006400': {'name': '삼성SDI', 'rank': 21},
 'A000270': {'name': '기아차', 'rank': 22},
 'A033780': {'name': 'KT&G', 'rank': 23},
 'A003550': {'name': 'LG', 'rank': 24},
 'A000810': {'name': '삼성화재', 'rank': 25},
 'A010950': {'name': 'S-Oil', 'rank': 26},
 'A086790': {'name': '하나금융지주', 'rank': 27},
 'A066570': {'name': 'LG전자', 'rank': 28},
 'A011170': {'name': '롯데케미칼', 'rank': 29},
 'A090430': {'name': '아모레퍼시픽', 'rank': 30}}

In [17]:
# get data from api and add to top30_stock_recent100_news_list
top30_stock_recent100_news_list = []
for code in top30_code_dict.keys():
    news_api = "http://finance.daum.net/content/news?page=1&perPage=100&category=economy&searchType=all&keyword={stk_code}&pagination=false".format(stk_code=code)
    headers = {
        "Host": "finance.daum.net",
        "Connection": "keep-alive",
        "Accept": "application/json, text/javascript, */*; q=0.01",
        "X-Requested-With": "XMLHttpRequest",
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/71.0.3578.98 Safari/537.36",
        "Referer": "http://finance.daum.net/quotes/{stk_code}".format(stk_code=code),
        "Accept-Encoding": "gzip, deflate",
        "Accept-Language": "ko-KR,ko;q=0.9,en-US;q=0.8,en;q=0.7",
        "Cookie": "webid=19dbd20eb89647b3a1257992d5e9eede; _ga=GA1.2.936431969.1548166807; KAKAO_STOCK_RECENT=[%22A005930%22%2C%22A015760%22]; _gid=GA1.2.724945518.1548599466; _gat_gtag_UA_128578811_1=1; webid_sync=1548600541828; _gat_gtag_UA_74989022_11=1; _dfs=SVZhMld3TGx6dlh2L1NpRzY0UmdXbldsZUgyRERGRGo3OGhkbXpGWTcrNUxCTGRwTXFaWFpZNEUyaHpIK0pBc2pIMkVSM044R2lYekZPa2I0RmFGNkE9PS0tRkNOY2Y2K3BjQkdYUjhzRndvakg4UT09--9ffad9e3337c891836b3c07f72f38dc234aeaf8c; recentMenus=[{%22destination%22:%22news%22%2C%22title%22:%22%EB%89%B4%EC%8A%A4%C2%B7%EA%B3%B5%EC%8B%9C%22}%2C{%22destination%22:%22influential_investors%22%2C%22title%22:%22%EC%99%B8%EC%9D%B8%C2%B7%EA%B8%B0%EA%B4%80%22}]; TIARA=sTDaJy.kHd3iW7L1lF5tGc2SWYLK_lPBSB6qPcXJZYyySXSlANyeq5z-oMOsjR6CBOIHmM1xa5N-NsAap_51F5VO_EwabNR5",
        "If-None-Match": 'W/"374fdd8ceaf090778ca81b52fc3944e3"'
                }
    news = requests.get(news_api, headers=headers).json()['data']
    top30_stock_recent100_news_list.append({'code':code, 'news':news})
    sleep(2)

In [18]:
# connect to db & collection
uri = "mongodb://choiic:admin1234@ds141401.mlab.com:41401/mydbinstance"
client = MongoClient(uri)
db = client.mydbinstance
daum_finance = db.damufinance

In [19]:
# insert data to db
daum_finance.insert_many(top30_stock_recent100_news_list)

In [20]:
# check news data
top30_stock_recent100_news_list[0]['code'],\
top30_stock_recent100_news_list[0]['news'][0]

('A005930',
 {'newsId': 'awm0TRV83Z',
  'title': '여당 지도부 삼성 방문..이재용 "비메모리반도체 키운다"',
  'cpKorName': '뉴스1',
  'summary': "(서울=뉴스1) 장은지 기자 = 이재용 삼성전자 부회장이 30일 홍영표 원내대표 등 더불어민주당 의원들과 만나 메모리반도체보다 시장이 크고 성장가능성이 높은 비메모리반도체 육성 의지를 드러냈다. 삼성 특유의 '초격차 전략'에 따른 비메모리반도체 투자 확대가 점쳐진다. 홍영표 원내대표를 비롯해 이철희 의원, 김종민 의원, 권칠승 의원, 김병욱 의원 등 여",
  'imageUrl': 'https://t1.daumcdn.net/news/201901/30/NEWS1/20190130192629090gcdg.jpg',
  'keywords': ['삼성', '여당지도부', '이재용', '비메모리반도체', '부회장'],
  'createdAt': '2019-01-30 19:26:28',
  'updatedAt': '2019-01-30 19:26:28'})

In [21]:
# select code / title, keywords, createdAt
query = {}
news_result = list(daum_finance.find(query, {'_id':0, 'code':1, 'news.title':1,'news.keywords':1,'news.createdAt':1}))

In [22]:
news_result[0]['code'], news_result[0]['news'][0]

('A105560',
 {'title': '롯데카드·손보 인수전, 한화·하나금융 등 10여곳 참여(종합)',
  'keywords': ['롯데카드', '한화', '하나금융', '한화그룹', '하나금융지주'],
  'createdAt': '2019-01-30 18:54:55'})

### Q3-2
위(mLab Collection)에서 종목별 각 뉴스들의 키워드(`"code"`, `"news"`)를 가져오세요.

`Requirements: json, pymongo`

ex)
```python
quotes=[
    {'code': 'A005930',
     'news': [{'keywords': ['게임주', '증시테마', '동반', '인공강우', '중국']},
          {'keywords': ['5g', '4차산업혁명', '5g스마트폰', '애플', '화웨이']},
          {'keywords': ['스마트폰', 'mwc', '폴더블폰', '갤럭시s10', '삼성전자']},
          {'keywords': ['sk하이닉스', '상반기', '어닝쇼크', '삼성전자', 'd램']},
          {'keywords': ['전자업계', '중국', '삼성전자', '삼성', '아시아경제']},
          {'keywords': ['엑스레이', '후지필름', '2017년', '매출액', '유럽']},
          {'keywords': ['삼성전자', '손', 'ssd', '삼성ssd', '게임']},
          {'keywords': ['카풀', '택시업계', '택시', '신현상', '갈등']},
          {'keywords': ['조선업계', '자동차', '수주', '중국', '미국']},
          {'keywords': ['코스닥', '지수', '증시', '바이코리아', '코스피']},
          {'keywords': ['삼성', '스마트팩토리', '경제적자유', '삼성전자', '전문가']},
          {'keywords': ['펀드수익률', '수익률', '금리', '지수', '미국']},
          {'keywords': ['바이코리아', '수익률', '성과', '삼성전자', 'sk하이닉스']},
          {'keywords': ['남북경협', '주식시장', '남북경협주', '대기업', '증시']},
          {'keywords': ['에어컨', 'ai', 'lg', '삼성', '위니아']},
          {'keywords': ['폴더블폰', '스마트폰', '삼성', '다음', '삼성전자']},
          {'keywords': ['sk하이닉스', '적자', '환골탈태', '빅딜', '하이닉스']},
          {'keywords': ['중견련', '사내벤처', '연임', 'ces2019', '삼성전자']},
          {'keywords': ['코스피', '지수', '종가', '미국', '무역협상']},
          {'keywords': ['삼성sdi', '기업공시', '삼성전자', '인수', '삼성중공업']}]
    },
...
]
```

In [25]:
query = {}
quotes = list(daum_finance.find(query, {'_id':0, 'code':1, 'news.keywords':1}))

In [34]:
quotes[0]

{'code': 'A105560',
 'news': [{'keywords': ['롯데카드', '한화', '하나금융', '한화그룹', '하나금융지주']},
  {'keywords': ['롯데카드', '예비입찰', '한화그룹', 'mbk파트너스', '서울']},
  {'keywords': ['롯데카드', '하나금융', '한화', '불참', '하나금융지주']},
  {'keywords': ['롯데카드', '인수', '롯데손해보험', '한화', '하나금융']},
  {'keywords': ['롯데카드', '인수', '한화', '하나금융', '예비입찰']},
  {'keywords': ['롯데카드', '매각', '예비입찰', '한화', '롯데손해보험']},
  {'keywords': ['m', '롯데카드', '롯데', '매각', '기름']},
  {'keywords': ['롯데카드', '예비입찰', '매각', '한화', '한화그룹']},
  {'keywords': ['롯데카드', '예비입찰', '한화', 'd', '시그널']},
  {'keywords': ['롯데카드', '예비입찰', '한화그룹', 'mbk파트너스', '롯데손보']},
  {'keywords': ['롯데', '예비입찰', '불참', '매각', '인수']},
  {'keywords': ['은행', 'ceo스코어', '계열사', '안상미', '금융']},
  {'keywords': ['롯데카드', '인수', '시그널', '한화', '한화그룹']},
  {'keywords': ['하나금융', '가계대출', '정원우', 'kb금융', '신한금융']},
  {'keywords': ['롯데카드', '롯데손보', '인수', '불참', '한화']},
  {'keywords': ['롯데카드', '불참', 'bnk', '롯데손보', '매각']},
  {'keywords': ['롯데카드', '예비입찰', 'bnk금융', '한화', '롯데손보']},
  {'keywords': ['롯데카드', '매각', 'm', '하나금융', '인수']},
  {'keywords': ['배당성향', '배당', '2017년', '중도금대출', '2018년']},
  {'keywords': ['코스피', '지수', '하락', '상한가', '미국연방공개시장위원회']},
  {'keywords': ['은행', '계열사', '이상이', '금융', '달리']},
  {'keywords': ['롯데손보', '예비입찰', '카드', '롯데카드', '매각']},
  {'keywords': ['코스피', '외국인순매수', '예비타당성조사', '보이', '면제']},
  {'keywords': ['한화', '롯데카드', '사모펀드', '롯데', '인수']},
  {'keywords': ['롯데카드', '한화', '예비입찰', 'bnk', 'kb금융']},
  {'keywords': ['롯데카드', '한화그룹', '예비입찰', 'kb금융', '인수']},
  {'keywords': ['롯데카드', '롯데', 'm', '매각', '인수']},
  {'keywords': ['롯데손보', '매각', '예비입찰', '카드', '롯데카드']},
  {'keywords': ['롯데카드', '한화', '예비입찰', 'bnk', 'bnk금융']},
  {'keywords': ['은행', '계열사', 'ceo스코어', '하나', '이상이']},
  {'keywords': ['카카오', '텐센트', '조양호', '유보', '금융위']},
  {'keywords': ['kb금융지주', '서울소공동', '시상식', '사회공헌', '나눔경영']},
  {'keywords': ['무역협상', '코스피', 'fomc', '이벤트', '미국']},
  {'keywords': ['하락', '코스피', '이벤트', '하루만', '지수']},
  {'keywords': ['은행', '계열사', 'ceo스코어', '보험', '카드']},
  {'keywords': ['롯데카드', '예비입찰', '매각', '한화그룹', '인수']},
  {'keywords': ['롯데손보', '예비입찰', 'd', '한화그룹', '롯데그룹']},
  {'keywords': ['은행', '성골', 'ceo스코어', '계열사', '이상이']},
  {'keywords': ['국민은행', '손', '파업', '300', '은행']},
  {'keywords': ['은행', '성골', '계열사', 'ceo스코어', '금융지주회사법']},
  {'keywords': ['기지개', '서버', '금융', '규제', '데이터센터']},
  {'keywords': ['이데일리신문', '경기부양', '토목사업', '최정훈', '증시']},
  {'keywords': ['사회공헌', '수상', '유재희', '눈길', '오재인']},
  {'keywords': ['수상', '심사위원장', '오재인', '대한민국', '토론']},
  {'keywords': ['kb금융', '포트폴리오', 'kb금융지주', '비즈니스', '2017년']},
  {'keywords': ['kb금융지주', '금융위원장', '대한민국', '유재희', '서울중구']},
  {'keywords': ['블록체인', 'lg', '코발트', '플랫폼', 'kb금융그룹']},
  {'keywords': ['etf', '한국', '현물매수', '신흥국', '국내증시']},
  {'keywords': ['코스피', '유가증권시장', '한국', '전기전자', '하루종일']},
  {'keywords': ['블록체인', 'lg', '코발트', 'kb금융그룹', '플랫폼']},
  {'keywords': ['수상소감', '김기환', '노진환', '수상', 'kb금융그룹']},
  {'keywords': ['대한민국', 'kb금융그룹', '노진환', '시상식', '서울중구']},
  {'keywords': ['롯데손보', '예비입찰', '카드', '롯데카드', 'd']},
  {'keywords': ['정보포털', '스마일', '미래', '한국거래소', '삼성전자']},
  {'keywords': ['롯데카드', '롯데손보', '누구', '계열사', '인수']},
  {'keywords': ['금융', '스마일', '한국거래소', '삼성전자', 'sk하이닉스']},
  {'keywords': ['하락', '코스피', '미국', '지수', '기술주']},
  {'keywords': ['하락', '코스피', '무역분쟁', '미국', '중국']},
  {'keywords': ['레버리지', 'kb금융', '현대백화점', '기관투자자', '순매수상위']},
  {'keywords': ['거래소외국인', '순매도상위', 'kb금융', 'lg전자', '현대로템']},
  {'keywords': ['카드', '현대카드', '대출', '삼성카드', 'kb국민카드']},
  {'keywords': ['새해', '세뱃돈', '우대금리', '할인혜택', '카드']},
  {'keywords': ['시선', '실적발표', '우리은행', '컨센서스', '2017년']},
  {'keywords': ['kb금융', '음악', '맥주', '금융', '신한은행']},
  {'keywords': ['인수', '롯데', '부회장', '황각규', '매각']},
  {'keywords': ['m', '인수', 'ib', '우리금융', '자본시장법']},
  {'keywords': ['kb금융', '청소년', 'kb금융그룹', '사회복지법', '조선대']},
  {'keywords': ['인수', '시그널', '조용병', '윤종규', '매각']},
  {'keywords': ['청소년', '음악', '성과', 'kb금융', 'kb금융그룹']},
  {'keywords': ['코스피', '코스닥', '증시', '하락', '개장']},
  {'keywords': ['코스피', 'sk하이닉스', '지수', '하락', '삼성중공업']},
  {'keywords': ['kb금융', '음악', '레슨', '열정', '성과']},
  {'keywords': ['kb금융', '사회공헌', '청소년', '서울', '김경윤']},
  {'keywords': ['신길뉴타운', '아파트', '10억', 'sk뷰', '구역']},
  {'keywords': ['kb금융', '음악', '열정', '성과', 'kb금융그룹']},
  {'keywords': ['코스피', '셧다운', '무역협상', '하락', '지수']},
  {'keywords': ['한국금융지주', '지주회사', '금융시장', '불확실성', '금융연구원']},
  {'keywords': ['디지털금융', '경영', '경영전략회의', '리스크관리', '미래']},
  {'keywords': ['24시간', '미래', '메신저', '한동환', 'kb국민은행']},
  {'keywords': ['자산관리', '미래', '플랫폼', '국민은행', '가맹점']},
  {'keywords': ['kb금융', '신한금융', '누가', '순이익', '희망퇴직']},
  {'keywords': ['행진', '삼성전자', '코스피', '신흥국', '무역분쟁']},
  {'keywords': ['물갈이', '박병대', '재선', 'kb금융지주', '신한금융지주']},
  {'keywords': ['코스피', '은행', 'sk하이닉스', '철강금속', 'dgb금융지주']},
  {'keywords': ['코스닥', '지수', '증시', '바이코리아', '코스피']},
  {'keywords': ['호텔', '비수도권', '관광객', '지역별', '중국']},
  {'keywords': ['국민은행', '파업', '2017년', '은행', '호봉']},
  {'keywords': ['신한지주', 'kb금융', '은행', '대장', '시가총액']},
  {'keywords': ['코스피', '전기전자', '무역협상', '미국', '셧다운']},
  {'keywords': ['지방은행', '적과의동침', '일본', '백오피스', '사이타마현']},
  {'keywords': ['지방은행', '적과의동침', '일본', '백오피스', '사이타마현']},
  {'keywords': ['소비자', '브랜드대상', '수상', '일본', 'iptv']},
  {'keywords': ['노동이사제', '이사회', '주총', '달리', 'kb금융']},
  {'keywords': ['민변', 'kb금융', '우리사주조합', 'kb금융지주', '민주사회를위한변호사모임']},
  {'keywords': ['민변', '노동이사제', '2018년', '2017', '케이비']},
  {'keywords': ['노동이사제', 'kb금융', '민변', '주총', '주주제안']},
  {'keywords': ['ib', '자본시장통합법', 'nh투자증권', '미래에셋대우', 'kb증권']},
  {'keywords': ['kb금융', 'kb금융지주', '우리사주조합', '주주제안', '민주사회를위한변호사모임']},
  {'keywords': ['우리사주조합', 'kb금융', '민변', '서울', 'kb금융지주']},
  {'keywords': ['노동이사제', '국민은행', '임단협', '민변', '비정규직']}]}

In [ ]:
## Q3-3
불러온 quotes에 대하여 상위 30개 종목 별 keyword 리스트의 갯수를 구하세요.

hint: 

```python
len_count = {}
for i in map(len, a_words):
	if i in len_count:
		len_count[i] += 1
	else:
		len_count[i] = 1
```

In [126]:
# 4-nested for loop @.@
kwds_cnt_result_by_4nested_loop = []
for content in quotes:
    code = content['code']
    kwds_dict_list = content['news']
    cnt_temp_dict = {}
    for kwds_dict in kwds_dict_list:
        for _, kwds_list in kwds_dict.items():
            for kwd in kwds_list:
                if cnt_temp_dict.get(kwd):
                    cnt_temp_dict[kwd] += 1
                else:
                    cnt_temp_dict[kwd] = 1
    kwds_cnt_result_by_4nested_loop.append({'code':code, 'kwds_cnt':cnt_temp_dict})

In [127]:
# 2-nested for loop
kwds_cnt_result_by_2nested_loop = []
for content in quotes:
    code = content['code']
    news_dict_list = content['news']
    # create kwds_list, kwds_set
    kwds_list = []
    for news_dict in news_dict_list:
        kwds_list += news_dict['keywords']
    kwds_set = set(kwds_list)
    # create kwds_cnt_temp_dict
    cnt_temp_dict = {}
    for kwd in kwds_set:
        cnt_temp_dict[kwd] = kwds_list.count(kwd)
    kwds_cnt_result_by_2nested_loop.append({'code':code, 'kwds_cnt':cnt_temp_dict})

In [129]:
# compare result
kwds_cnt_result_by_4nested_loop == kwds_cnt_result_by_2nested_loop

True

In [131]:
# check length
len(kwds_cnt_result_by_4nested_loop)

30

In [132]:
# first result
kwds_cnt_result_by_4nested_loop[0]

{'code': 'A105560',
 'kwds_cnt': {'롯데카드': 25,
  '한화': 13,
  '하나금융': 6,
  '한화그룹': 8,
  '하나금융지주': 2,
  '예비입찰': 16,
  'mbk파트너스': 2,
  '서울': 3,
  '불참': 4,
  '인수': 14,
  '롯데손해보험': 2,
  '매각': 12,
  'm': 4,
  '롯데': 5,
  '기름': 1,
  'd': 3,
  '시그널': 3,
  '롯데손보': 9,
  '은행': 10,
  'ceo스코어': 5,
  '계열사': 7,
  '안상미': 1,
  '금융': 5,
  '가계대출': 1,
  '정원우': 1,
  'kb금융': 19,
  '신한금융': 2,
  'bnk': 3,
  'bnk금융': 2,
  '배당성향': 1,
  '배당': 1,
  '2017년': 4,
  '중도금대출': 1,
  '2018년': 2,
  '코스피': 14,
  '지수': 6,
  '하락': 7,
  '상한가': 1,
  '미국연방공개시장위원회': 1,
  '이상이': 3,
  '달리': 2,
  '카드': 6,
  '외국인순매수': 1,
  '예비타당성조사': 1,
  '보이': 1,
  '면제': 1,
  '사모펀드': 1,
  '하나': 1,
  '카카오': 1,
  '텐센트': 1,
  '조양호': 1,
  '유보': 1,
  '금융위': 1,
  'kb금융지주': 7,
  '서울소공동': 1,
  '시상식': 2,
  '사회공헌': 3,
  '나눔경영': 1,
  '무역협상': 3,
  'fomc': 1,
  '이벤트': 2,
  '미국': 4,
  '하루만': 1,
  '보험': 1,
  '롯데그룹': 1,
  '성골': 2,
  '국민은행': 4,
  '손': 1,
  '파업': 2,
  '300': 1,
  '금융지주회사법': 1,
  '기지개': 1,
  '서버': 1,
  '규제': 1,
  '데이터센터': 1,
  '이데일리신문': 1,
  '경기부양': 1,
  '토목사업': 1,
  '최정훈': 1,
  '증시': 3,
  '수상': 4,
  '유재희': 2,
  '눈길': 1,
  '오재인': 2,
  '심사위원장': 1,
  '대한민국': 3,
  '토론': 1,
  '포트폴리오': 1,
  '비즈니스': 1,
  '금융위원장': 1,
  '서울중구': 2,
  '블록체인': 2,
  'lg': 2,
  '코발트': 2,
  '플랫폼': 3,
  'kb금융그룹': 7,
  'etf': 1,
  '한국': 2,
  '현물매수': 1,
  '신흥국': 2,
  '국내증시': 1,
  '유가증권시장': 1,
  '전기전자': 2,
  '하루종일': 1,
  '수상소감': 1,
  '김기환': 1,
  '노진환': 2,
  '정보포털': 1,
  '스마일': 2,
  '미래': 4,
  '한국거래소': 2,
  '삼성전자': 3,
  '누구': 1,
  'sk하이닉스': 3,
  '기술주': 1,
  '무역분쟁': 2,
  '중국': 2,
  '레버리지': 1,
  '현대백화점': 1,
  '기관투자자': 1,
  '순매수상위': 1,
  '거래소외국인': 1,
  '순매도상위': 1,
  'lg전자': 1,
  '현대로템': 1,
  '현대카드': 1,
  '대출': 1,
  '삼성카드': 1,
  'kb국민카드': 1,
  '새해': 1,
  '세뱃돈': 1,
  '우대금리': 1,
  '할인혜택': 1,
  '시선': 1,
  '실적발표': 1,
  '우리은행': 1,
  '컨센서스': 1,
  '음악': 4,
  '맥주': 1,
  '신한은행': 1,
  '부회장': 1,
  '황각규': 1,
  'ib': 2,
  '우리금융': 1,
  '자본시장법': 1,
  '청소년': 3,
  '사회복지법': 1,
  '조선대': 1,
  '조용병': 1,
  '윤종규': 1,
  '성과': 3,
  '코스닥': 2,
  '개장': 1,
  '삼성중공업': 1,
  '레슨': 1,
  '열정': 2,
  '김경윤': 1,
  '신길뉴타운': 1,
  '아파트': 1,
  '10억': 1,
  'sk뷰': 1,
  '구역': 1,
  '셧다운': 2,
  '한국금융지주': 1,
  '지주회사': 1,
  '금융시장': 1,
  '불확실성': 1,
  '금융연구원': 1,
  '디지털금융': 1,
  '경영': 1,
  '경영전략회의': 1,
  '리스크관리': 1,
  '24시간': 1,
  '메신저': 1,
  '한동환': 1,
  'kb국민은행': 1,
  '자산관리': 1,
  '가맹점': 1,
  '누가': 1,
  '순이익': 1,
  '희망퇴직': 1,
  '행진': 1,
  '물갈이': 1,
  '박병대': 1,
  '재선': 1,
  '신한금융지주': 1,
  '철강금속': 1,
  'dgb금융지주': 1,
  '바이코리아': 1,
  '호텔': 1,
  '비수도권': 1,
  '관광객': 1,
  '지역별': 1,
  '호봉': 1,
  '신한지주': 1,
  '대장': 1,
  '시가총액': 1,
  '지방은행': 2,
  '적과의동침': 2,
  '일본': 3,
  '백오피스': 2,
  '사이타마현': 2,
  '소비자': 1,
  '브랜드대상': 1,
  'iptv': 1,
  '노동이사제': 4,
  '이사회': 1,
  '주총': 2,
  '민변': 5,
  '우리사주조합': 3,
  '민주사회를위한변호사모임': 2,
  '2017': 1,
  '케이비': 1,
  '주주제안': 2,
  '자본시장통합법': 1,
  'nh투자증권': 1,
  '미래에셋대우': 1,
  'kb증권': 1,
  '임단협': 1,
  '비정규직': 1}}